body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 34px;
  margin-left: 10px;
  background: url("crystal.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 10px;
}

.header {
  background: peru;
  width: 250px;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.instructions {
  background: bisque;
  width: 500px;
  margin-bottom: 5px;
}

.randomNum {
  background: green;
  width: 200px;
  height: 80px;
  font-size: 30px;
  margin-bottom: 5px;
  float: left;
}
.winsLo {
  display: inline-block;
  background: turquoise;
  width: 100px;
  height: 80px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.crystals {
  background: white;
  display: inline-block;
  margin-bottom: 5px;
}
.red,.blue,.yellow,.green {
display: inline;
}

.totalscore {
  background: teal;
  color: white;
  width: 250px;
  margin-bottom: 5px;
}

.currentScore {
  background: teal;
  color: white;
  font-size: 30px;
  width: 250px;
  height: 60px;
  margin-bottom: 5px;
}